// start anipat
section.anipat_area
  .container
    .row.justify-content-center
      .col-lg-8
        .anipat_text.text-center
          .head_title
            h3 Why go with Anipat?
            p Because we know that even the best technology is only as good as the people behind it. 24/7 tech support.
          .contact_btn.d-flex.aling-items-center.justify-content-center
            button(type='button' class='buttons') contact us
            p Our +880 4664 216
// End anipat
