// start header
header
  .header_area
    .header_area_top
      .container
        .row
          .col-lg-6.col-md-8
            .info_number_contact
              ul.list-unstyled
                li: a(href='#') +880 4664 216
                li: a(href='#') Mon - Sat 10:00 - 7:00
          .col-lg-6.col-md-4
            .social_links
              a(href='#'): i.fa.fa-facebook
              a(href='#'): i.fa.fa-pinterest-p
              a(href='#'): i.fa.fa-google-plus
              a(href='#'): i.fa.fa-linkedin
    .header_area_bottom
      .container
        .row.align-items-center
          .col-xl-3.col-lg-3
            .logo
              a(href='#'): img(src='images/logo.png')
          .col-xl-9.col-lg-9
            .links.d-none.d-lg-block
              nav
                ul.list-unstyled.navigation_bar
                  li: a(href='#') home
                  li: a(href='#') about
                  li.drop-d
                    a(href='#') blog
                      i.fa.fa-angle-down
                    ul.list-unstyled.submenu
                      li: a(href='#') blog
                  li.drop-d
                    a(href='#') pages
                      i.fa.fa-angle-down
                    ul.list-unstyled.submenu
                      li: a(href='#') blog
                      li: a(href='#') single-blog
                        
                  li: a(href='#') services
                  li: a(href='#') contact
          .col-12
            .mobile_menu.d-block.d-lg-none
              button(type='button' class='btn_menu')
                span.nav_icon
                span.nav_icon
                span.nav_icon
              .mega_menu
                ul.list-unstyled
                  li: a(href='#') home
                  li: a(href='#') about
                  li
                    a(href='#', class='mobile_drop') blog
                      i.fa.fa-angle-down
                    ul.list-unstyled
                      li.panle: a(href='#') blog
                  li
                    a(href='#', class='mobile_drop') pages
                      i.fa.fa-angle-down
                    ul.list-unstyled
                      li.panle: a(href='#') Elments
                      li.panle: a(href='#') Elments
                  li: a(href='#') services
                  li: a(href='#') contact
// End header
