// Start footer
footer.footer_area
  .footer_content
    .container
      .row
        .col-lg-3.col-md-6
          .footer_widget
            h3.footer_title Contact Us
            ul.list-unstyled.address
              li +555 0000 565
              li: a(href='#') mohamed.m90012@gmail.com
              li 700, Green Lane, New York, USA
        .col-lg-3.col-md-6
          .footer_widget
            h3.footer_title Our Servces
            ul.list-unstyled.address
              li Pet Insurance
              li Pet surgeries 
              li Pet Adoption
              li Dog Insurance
              li Dog Insurance
        .col-lg-3.col-md-6
          .footer_widget
            h3.footer_title Quick Link
            ul.list-unstyled.address
              li About Us
              li Privacy Policy 
              li Terms of Service
              li Login info
              li Knowledge Base
        .col-lg-3.col-md-6
          .footer_widget
            .footer_logo
              a(href='#'): img(src='images/logo.png')
            p.text 239 E 5th St, New York NY 10003, USA
            .sociale_links
              ul.list-unstyled
                li: a(href='#'): i.fa.fa-facebook
                li: a(href='#'): i.fa.fa-pinterest
                li: a(href='#'): i.fa.fa-google-plus
                li: a(href='#'): i.fa.fa-linkedin

// End footer
