// start about us
section.about_us
  .about_us_area
    .container
      .row.align-items-center
        .col-lg-5.col-md-6
          .cate_img
            img(src='images/pet_care.png')
        .col-lg-6.col-md-6.offset-lg-1
          .cate_info
            .head_title
              h3 
                span We care your pet 
                br
                | As your care
              p Lorem ipsum dolor sit , consectetur adipiscing elit, sed do Lorem ipsum dolor sit , consectetur adipiscing elit, sed do Lorem ipsum dolor sit , consectetur adipiscing elit, sed do Lorem ipsum dolor sit , consectetur adipiscing elit, sed do 
              button(type='button' class='buttons') aobut us
