section.services_area
  .services_content
    .container
      .row.justify-content-center
        .col-lg-7.col-md-10
          .head_title.text-center.mb-90
            h3 Services for every dog
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
      .row.justify-content-center
        .col-lg-4.col-md-6
          .services_info
            .services_img.d-flex.align-items-center.justify-content-center
              .icon_inside
                img(src='images/service_icon_1.png')
            .services_text.text-center
              h3 Pet Boarding
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        .col-lg-4.col-md-6
          .services_info
            .services_img.d-flex.align-items-center.justify-content-center
              .icon_inside
                img(src='images/service_icon_1.png')
            .services_text.text-center
              h3 Pet Boarding
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        .col-lg-4.col-md-6
          .services_info
            .services_img.d-flex.align-items-center.justify-content-center
              .icon_inside
                img(src='images/service_icon_1.png')
            .services_text.text-center
              h3 Pet Boarding
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
