// start adopt us secttion
section.adopt_us
  .adopt_us_area
    .container
      .row.aling-items-center.justify-content-between 
        .col-lg-5
          .head_title
            h3
              span We need your 
              | help Adopt Us
            p Lorem ipsum dolor sit , consectetur adipiscing elit, sed do iusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices.
            button(type='buttons' class='buttons') Adopt Us
        .col-lg-6
          .adopt_counter
            .row.align-items-center
              .col-lg-6.col-md-6
                .adopt_info.text-center
                  img(src='images/1.png')
                  div
                    h3 452+
                    p Pets Available
              .col-lg-6.col-md-6
                .adopt_info.text-center
                  img(src='images/2.png')
                  div
                    h3 52+
                    p Pets Available
                .adopt_info.text-center
                  img(src='images/3.png')
                  div
                    h3 52+
                    p Pets Available
              
