// Start our team
section.our_team
  .our_team_area
    .container
      .row.justify-content-center
        .col-lg-6.col-md-10
          .head_title.text-center.mb-95
            h3 Our Team
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
      .row.justify-content-center
        .col-lg-4.col-md-6
          .team_info
            .team_img
              img(src='images/team-1.png')
            .team_content.text-center
              .team_text
                h4 Rala Emaia
                p Senior Director
        .col-lg-4.col-md-6
          .team_info
            .team_img
              img(src='images/team-2.png')
            .team_content.text-center
              .team_text
                h4 Rala Emaia
                p Senior Director
        .col-lg-4.col-md-6
          .team_info
            .team_img
              img(src='images/team-3.png')
            .team_content.text-center
              .team_text
                h4 Rala Emaia
                p Senior Director
              
// End our team
