link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/font-awesome.min.css')
link(rel='stylesheet', href='css/owl.carousel.min.css')
link(rel='stylesheet', href='css/owl.theme.default.min.css')  
link(rel='stylesheet', href='css/main.css')
