doctype html
html
  head
    include pug/meta-head/meta
    title Anipat
    include pug/css-links/links
  body
    include pug/layout/header
    include pug/layout/slider
    include pug/services-area/services
    include pug/about-us/about-us
    include pug/adopt-us/adopt-us
    include pug/testmonial/testmonial
    include pug/our-team/our-team
    include pug/anipat/anipat
    include pug/footer/footer
    include pug/js-links/links
