// start testmonial
section.testmonial_area
  .testmonial_content
    .container
      .row.justify-content-center
        .col-lg-10
          .owl-carousel
            .testmonial_info.d-flex.align-items-center
              .test_img
                img(src='images/testmonail.png')
              .test_text
                h4 Jhon Walker
                span Head of web design
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci.
            .testmonial_info.d-flex.align-items-center
              .test_img
                img(src='images/testmonail.png')
              .test_text
                h4 Jhon Walker
                span Head of web design
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci.
            .testmonial_info.d-flex.align-items-center
              .test_img
                img(src='images/testmonail.png')
              .test_text
                h4 Jhon Walker
                span Head of web design
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci.
            .testmonial_info.d-flex.align-items-center
              .test_img
                img(src='images/testmonail.png')
              .test_text
                h4 Jhon Walker
                span Head of web design
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci.

// End testmonial
